:root {
    --primary-orange: #f48024;

    --header-background-gray: #393939;
    --loader-border-top-orange: var(--primary-orange);
    
    --body-color-white: #E7E8EB;
    --body-background-color-black: #2D2D2D;

    --header-input-color-white: #cfd2d6;
    --header-input-bordercolor-gray: #697075;
    --header-input-bordercolor-blue: #2b5f8a;
    --header-input-boxshadow-white: #378ad326;
    --header-button-backgroundcolor-black: #4A4E51;
    --header-button-color-white: #e7e8eb;
    
    --navigation-active-backgroundcolor-gray: #3D3D3D;
    --navigation-active-borderright-orange: var(--primary-orange);
    --navigation-disabled-link-color: #ACB2BB;

    --content-borderleft-gray: #4a4e51;

    --footer-background-gray: #242729;
    --footer-color-white: #6A737C;
    --footer-sectionheader-color-white: #BBC0C4;
    --footer-sectionul-color-white: #9FA6AD;
  }

html, body 
{
    height: 100%;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

body {
    margin: 0;
    display: grid;
    grid: "header" 
          "main"
          "footer";
    grid-template-rows: 3.125rem auto auto;

    background-color: var(--body-background-color-black);
    color: var(--body-color-white);
    /* overflow-x: hidden; */
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    border-top: 3px solid var(--loader-border-top-orange);
}

#header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--header-background-gray);
    color: var(--body-color-white);

    box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 1px 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
}

#header div {
    max-width: 1264px;
    width: 100%;  
    margin: 0 auto;  

    grid-area: header;
    display: grid;
    grid: "brand products search user";
    grid-template-columns: 15% 10% 50% 25%;
    grid-template-rows: 3.125rem;
    
    align-items: center;
}

#brand {
    display: flex;
    align-items: center;
}

#brand i {
    display: none;
}

#search {
    display: block;
}

#search input {
    border-color: var(--header-input-bordercolor-gray);
    background-color: var(--body-background-color-white);
    box-shadow: none;
    color: var(--header-input-color-white);
    padding: .6em .7em;
    border-radius: 0;
    padding-left: 32px;
    border: 1px solid var(--header-input-bordercolor-gray);
    width: 90%;
}

#search {
    position: relative;
}

#search > i {
    position: absolute;
    top: 8px;
    left: 9px;
}

#search button {
    display: none;
}

#search input:focus {
    border-color: var(--header-input-bordercolor-blue);
    box-shadow: 0 0 0 4px var(--header-input-boxshadow-white);
    outline: none;
}

#main 
{
    max-width: 1264px;
    width: 100%;  
    margin: 0 auto;  
    grid-area: main;
    display: grid;
    grid: "navigation content advertisement";
    grid-template-columns: 164px 70% auto;
}

#navigation {
    position: fixed;
    width: 164px;
    padding-top: 24px;
}

#navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#navigation ul > li:nth-child(1) {
    padding-left: 8px;
}

#navigation ul li.active{
    background-color: var(--navigation-active-backgroundcolor-gray);
    border-right: 3px solid var(--navigation-active-borderright-orange);
    cursor: pointer;
    font-weight: bold;
    padding-left: 8px !important;
    color: #F2F2F3;
}

#navigation ul li.disabled {
    cursor: text !important;
    margin: 16px 0 4px 8px;
    padding: 0 !important;
    font-size: 11px;
    color: var(--navigation-disabled-link-color);
    line-height: 0.9;
}

.nav-link {
    display: block;
    padding: 4px;
    padding-left: 30px !important;
    line-height: 1.8;
    font-size: 13px;
    color: #C4C8CC;;
}

.nav-link:hover {
    color: white;
    cursor: pointer;
}

.nav-link-with-icon {
    padding: 8px 6px 8px 8px !important;
}

#content {
    grid-column-start: 2;
    grid-column-end: 3;
    border-left: 1px solid var(--content-borderleft-gray);
    padding: 2rem;
}

#footer {
    grid-area: footer;
    display: grid;
    
    background-color: var(--footer-background-gray);
    color: var(--footer-color-white);
}

#footer div {
    max-width: 1264px;
    width: 100%;  
    margin: 0 auto; 
    padding: 2rem;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#footer div section header {
    color: var(--footer-sectionheader-color-white);
    font-size: 13px;
}

#footer div section ul {
    list-style: none;
    padding-left: 0;
}

#footer div section ul li{
    font-size: 13px;
    color: var(--footer-sectionul-color-white);
    padding: 5px 0;
}

@media screen and (max-width: 1344px) { 
    #footer div {
        width: auto;
        margin: 0;  
    }
}

@media screen and (max-width: 1290px) {
    body, #header div {
        width: 100%;
        margin: 0;  
    }

    #main 
    {
        grid: "navigation content advertisement";
        grid-template-columns: 164px calc(100% - 164px - 300px) 300px;
    }

    #footer div {
        width: auto;
        margin: 0;  
    }
}

@media screen and (max-width: 1140px) {
    #header div {
        grid-template-columns: 25% 10% 40% 25%;
    }
}

@media screen and (max-width: 980px) {
    body, #header div {
        width: 100%;
        margin: 0;  
    }

    #main 
    {
        grid: "navigation content"
              "navigation advertisement";
        grid-template-columns: 164px calc(100% - 164px);
    }
}


@media screen and (max-width: 816px) {
    body, #header div {
        width: 100%;
        margin: 0;  
    }

    #header div {
        grid-template-columns: 25% 10% 40% 25%;
    }

    #search {
        display: flex;
        justify-content: flex-end;
    }

    #search input, #search > i {
        display: none;
    }

    #search button {
        display: inline-block;
        background-color: var(--header-button-backgroundcolor-black);
        color: var(--header-button-color-white);
        border-style: hidden;
        height: 3.125rem;
        width: 50px;
    }

    #search button:focus {
        outline: none;
    }

    /* #navigation {
        width: calc(100% - 85%);
    } */
    
    #main 
    {
        grid: "navigation content"
              "navigation advertisement";
        grid-template-columns: 164px calc(100% - 164px);
    }

    #advertisement {
        grid-column-start: 2;
        grid-column-end: 3;
    }
}

@media screen and (max-width: 640px) {
    #brand {
        justify-content: flex-end;
        margin-right: 15px;  
    }

    #brand i {
        display: block;
    }

    #brand img {
        display: none;
    }

    #navigation {
        display: none;
    }

    #main 
    {
        grid: "content"
              "advertisement";
        grid-template-columns: auto;
    }

    #content, #advertisement {
        grid-column-start: 1;
        grid-column-end: -1;
    }

    #footer div {
        width: auto;
        margin: 0;  
    }
}
